/*==========================================*/
/*           Color Schemes
/*==========================================*/
/*==========================================*/
/*            Global Elements
/*==========================================*/
a {
    color: #d4657a;
}
a:hover {
    color: #d4657a;
}
.section-title .title-icon-container .title-icon {
    background: #d4657a;
}
.pagination-wrap .pagination li a {
    color: #333333;
}
.pagination-wrap .pagination li a.active,
.pagination-wrap .pagination li a:hover {
    border-color: #d4657a;
    background: #d4657a;
}
.title h2 {
    color: #d4657a;
}
/*==========================================*/
/*            Navbar Elements
/*==========================================*/
.navbar-inverse.scroll-fixed-navbar .navbar-nav li:hover a {
    color: #d4657a;
}
.navbar-inverse.scroll-fixed-navbar .navbar-nav li.active a {
    color: #d4657a;
}
.navbar-inverse.scroll-fixed-navbar .navbar-nav li.active a:hover {
    color: #d4657a;
}
/*==========================================*/
/*            Banner Elements
/*==========================================*/
.banner .banner-content .buttons .def-btn:hover {
    color: #d4657a;
    border-bottom: 1px solid #d4657a;
}
/*==========================================*/
/*              About Elements
/*==========================================*/
.about .content .icon i {
    color: #d4657a;
}
.about .center .slick-prev,
.about .center .slick-next {
    border: 1px solid #d4657a;
}
.about .center .slick-prev:hover,
.about .center .slick-next:hover {
    background: #d4657a;
}
.about .center .slick-prev:hover:before,
.about .center .slick-next:hover:before {
    color: #ffffff;
}
.about .center .slick-prev:before {
    color: #d4657a;
}
.about .center .slick-next:before {
    color: #d4657a;
}
.about .more ul a:hover {
    color: #d4657a;
}
/*==========================================*/
/*             Testimonial Elements
/*==========================================*/
.testimonial .carousel .carousel-control .control-circle:hover {
    border: 1px solid #d4657a;
}
.testimonial .carousel .carousel-control .control-circle:hover .fa {
    color: #d4657a;
}
/*==========================================*/
/*             Counter Elements
/*==========================================*/
.counter h3 {
    color: #d4657a;
}
/*==========================================*/
/*             Portfolio Elements
/*==========================================*/
.portfolio .portfoliofilter a.current .filterbutton {
    background: #d4657a;
    border: 1px solid #d4657a;
}
.portfolio .portfoliofilter a:hover .filterbutton {
    color: #d4657a;
    border: 1px solid #d4657a;
}
.portfolio .portfoliocontent .content .overlay:hover {
    background: rgba(212, 101, 122, 0.9);

}
/*==========================================*/
/*             Why Me Elements
/*==========================================*/
.why-me .skills .skillbars .bar-container .meter {
    background: #d4657a;
}
.why-me .skills .skillbars .bar-container .meter:after {
    border-left: 20px solid #d4657a;
}
/*==========================================*/
/*      Education & Employment Elements
/*==========================================*/
.timeline > li .timeline-icon {
    background: #d4657a;
}
.timeline > li .timeline-label .place {
    color: #d4657a;
}
/*==========================================*/
/*        Pricing Elements
/*==========================================*/
.pricing .pricing-table .price {
    background: #d4657a;
}
.pricing .pricing-table .list .def-btn {
    border: 1px solid #d4657a;
    border-color: #d4657a;
    color: #d4657a;
}
.pricing .pricing-table .list .def-btn:hover {
    background: #d4657a;
}
/*==========================================*/
/*            Journal Elements
/*==========================================*/
.journal .journal-content .media .quote {
    background: #d4657a;
}
.journal .journal-content .detail {
    border-top: 5px solid #d4657a;
}
.journal .journal-content .detail .category {
    background: #d4657a;
}
.journal .journal-content .detail .title h3 {
    color: #d4657a;
}
.journal .journal-content .detail .title h3:hover {
    color: #f7af0a;
}
.journal .journal-content .detail .info a:hover {
    color: #d4657a;
}
/*==========================================*/
/*             Map Elements
/*==========================================*/
.map .map-title {
    background: #d4657a;
}
/*==========================================*/
/*             Contact Elements
/*==========================================*/
.contact .footer-form .input-container .form-control:focus {
    border: 1px solid #d4657a;
}
.contact .footer-form .textarea-container textarea:focus {
    border: 1px solid #d4657a;
}
.contact .footer-form .button-container .def-btn {
    border: 1px solid #d4657a;
    color: #d4657a;
}
.contact .footer-form .button-container .def-btn:hover {
    background: #d4657a;
}
/*==========================================*/
/*            Footer Elements
/*==========================================*/
.footer {
    border-top: 5px solid #d4657a;
}
.footer .top-text {
    background: #d4657a;
}
.footer .links .social-icons .circle {
    border: 1px solid #d4657a;
}
.footer .links .social-icons .circle .fa {
    color: #d4657a;
}
.footer .links .social-icons .circle:hover {
    background: #d4657a;
}
/*==========================================*/
/*         Portfolio Single Elements
/*==========================================*/
.portfolio-single .carousel .carousel-control .control-button:hover {
    background: #d4657a;
}
.portfolio-single .description .def-btn:hover {
    background: #d4657a;
}
/*==========================================*/
/*          Journal List Elements
/*==========================================*/
.journal-list .top-search .search-wrap input:focus {
    border-color: #d4657a;
}
.journal-list .journal-content .detail {
    border-top: 5px solid #d4657a;
}
.journal-list .journal-content .detail .category {
    background: #d4657a;
}
.journal-list .journal-content .detail .title h3 {
    color: #d4657a;
}
.journal-list .journal-content .detail .title h3:hover {
    color: #f7af0a;
}
.journal-list .journal-content .detail .info a:hover {
    color: #d4657a;
}
/*==========================================*/
/*          Journal Single Elements
/*==========================================*/
.journal-detail .post-single .respond .row .form-control:focus {
    border: 1px solid #d4657a;
}
.journal-detail .post-single .respond .row textarea:focus {
    border: 1px solid #d4657a;
}
.journal-detail .post-single .respond .row .def-btn:hover {
    background: #d4657a;
}
.journal-sidebar .title .shape {
    background: #d4657a;
}
.journal-sidebar .content ul li:hover {
    border-bottom: 1px solid #d4657a;
}
.journal-sidebar .content ul li:hover a {
    color: #d4657a;
}
.journal-sidebar .search-post .content .search-wrap input:focus {
    border-color: #d4657a;
}
.journal-sidebar .recent-post .content ul li span {
    color: #d4657a;
}
.journal-sidebar .post-tags .tag-label:hover {
    background: #d4657a;
    border: 2px solid #d4657a;
}
/*==========================================*/
/*          Responsive Settings
/*==========================================*/
@media (max-width: 767px) {
    .navbar-inverse .navbar-toggle {
        border: 1px solid #d4657a;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }
    .navbar-inverse .navbar-toggle span.icon-bar {
        background: #d4657a;
    }
    .navbar-inverse .navbar-toggle:focus,
    .navbar-inverse .navbar-toggle:hover {
        background: #d4657a;
    }
    .navbar-inverse .navbar-collapse ul.navbar-nav li.active {
        color: #d4657a;
    }
    .navbar-inverse .navbar-collapse ul.navbar-nav li a:hover {
        background: #d4657a;
    }
}





html,
body {
    font-family: "Lato", sans-serif;
    height: 100% !important;
    font-weight: 300;
    color: #333333;
    position: relative;
}
html h1,
body h1,
html h2,
body h2,
html h3,
body h3,
html h4,
body h4,
html h5,
body h5 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0px;
    letter-spacing: 2px;
    color: #d4657a;
}
section {
    background: #f6f6f6;
}
.bg-section {
    background: #3d406d ;
}
.pricing {
    padding: 80px 0px;
    background: #3d406d;
}