<div class="wrapper">
  <div @listAnimation  class="list-chat list" *ngIf="this.isShowListChatBox()">
    <div  class="friend" *ngFor="let f of this.getChatContentExample()" (click)="setSelectedChatContent(f)">
      <img class="friend__avatar avatar--circle avatar--small" src="../../../../assets/image/avatar.jpg" alt="">
      <h4 class="friend__infor">{{f.name}}
        <span class="text--small" [ngClass]="{is_not_seen: !f.isSeen}"><br>{{this.getStringLastMessage(f)}}   {{this.getLastTime(f)}}</span>
      </h4>
    </div>
  </div>
  <div @listAnimation class="list-friends list" *ngIf="this.isShowListFriend()">
    <div class="friend" *ngFor="let f of this.getListUser()" (click)="setSelectedChatContentByUserModel(f)">
      <img class="friend__avatar avatar--circle avatar--small" src="../../../../assets/image/avatar.jpg" alt="" />
      <h4 class="friend__infor">
        {{ f.fullname }} <span class="text--small"><br />{{ f.status }}</span>
      </h4>
    </div>
  </div>
  <div @listAnimation  class="list-search list" *ngIf="this.isShowSearch()">
    <div class="checkSearch" *ngIf="this.isCheckSearch()"> <i>Tìm kiếm cho từ khoá : "{{this.name}}"</i> </div>
    <div class="friend" *ngFor="let f of this.getListSearch()" (click)="setSelectedChatContentByUserModel(f)">
      <img class="friend__avatar avatar--circle avatar--small" src="../../../../assets/image/avatar.jpg" alt="" />
      <h4 class="friend__infor">
        {{ f.fullname }} <span class="text--small"><br />{{ f.status }}</span>
      </h4>
    </div>
  </div>
  <div @listAnimation class="setting list" *ngIf="this.isShowSetting()">
    <!-- Trợ giúp -->
    <div  class="setting__container help-container">
      <button class="help setting-item">
        <h6>Trợ giúp</h6>
        <i class="fa fa-question-circle setting-item--btn" aria-hidden="true"></i>
      </button>
      <button class="report setting-item">
        <h6>Báo cáo sự cố</h6>
        <i class="fas fa-exclamation-triangle setting-item--btn"></i>
      </button>
    </div>
    <!-- End -->
    <!-- Thông tin -->
    <div class="setting__container infor-container">
      <button class="infor setting-item">
        <h6>Thông tin</h6>
        <i class="fas fa-info-circle setting-item--btn"></i>
      </button>
      <button class="rules setting-item">
        <h6>Điều khoản</h6>
        <i class="fas fa-align-left setting-item--btn"></i>

      </button>
      <button class="private-policy setting-item">
        <h6>Chính sách quyền riêng tư</h6>
        <i class="fas fa-align-left setting-item--btn"></i>

      </button>
      <button class="cookie-policy setting-item">
        <h6>Chính sách về cookie</h6>
        <i class="fas fa-align-left setting-item--btn"></i>

      </button>
    </div>
    <!-- End -->
    <!-- Đăng xuất -->
    <div class="setting__container log-out-container">
      <button class="log-out setting-item" (click)="this.logout()">
        <h6>Đăng xuất</h6>
        <i class="fas fa-sign-out-alt setting-item--btn "></i>
      </button>
    </div>

    <!-- End -->
  </div>
</div>
<!-- <div class="image-logo">
        <img src="assets/image/The Anh Em Company.png" alt="">
    </div> -->
