<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Group Chat</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="mb-3">
                    <div class="alert alert-{{this.alert}}" style="width:100%" *ngIf="this.message!=''"  role="alert">
                      {{this.message}}
                    </div>
                      <label for="room-name" class="col-form-label">RoomName:</label>
                      <input type="text" class="form-control" [(ngModel)]="this.roomName" [ngModelOptions]="{standalone: true}">
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary"  (click)="this.clear()" data-bs-dismiss="modal">CLOSE</button>
              <button type="submit" class="btn btn-primary" (click)="this.createRoomChat()">CREATE</button>
              <button type="submit" class="btn btn-primary" (click)="this.joinRoomChat()">JOIN</button>
          </div>
      </div>
  </div>
</div>
