<div class="container-fluid main-chat" id="chatContent">
    <!-- Partner chat -->
    <div class="searchMessageArea" *ngIf="isShowSearchMessage()">
        <div class="notifiSearch">
            <div class="message">Từ khóa được tìm kiếm là: "{{ this.keyWord }}""</div>
            <div class="message">
                Có {{ this.getResultSearchMessageCount() }} kết quả được tìm thấy
            </div>
        </div>
        <div class="btnSearch">
            <div><i class="up fas fa-caret-up" (click)="findUp()"></i></div>
            <div><i class="down fas fa-caret-down" (click)="findDown()"></i></div>
        </div>
        <div class="btnSearchClose">
            <div><i class="fas fa-times" (click)="close()"></i></div>
        </div>
    </div>
    <ng-container *ngFor="
      let mes of this.getSelectedChatContent().messages;
      let indexOfelement = index
    ">
        <div [ngClass]="this.typeOfMes(indexOfelement)" class="partner-chat container-fluid row" *ngIf="!mes.mine && this.isMes(mes)">
            <div class="wrapper col-12 row">
                <div class="avatar--wrapper">
                    <img *ngIf="this.isShowAvatar(indexOfelement)" class="partner__avatar avatar" src="../../../../assets/image/avatar.jpg" />
                    <img *ngIf="!this.isShowAvatar(indexOfelement)" class="partner__avatar avatar" src="../../../../assets/image/avatar.jpg" style="visibility: hidden" />
                    <!-- <img class=" partner__avatar avatar "  src="../../../../assets/image/avatar.jpg" > -->
                </div>
                <div @messagesAnimation class="text--wrapper">
                    <h6 class="partner__name" *ngIf="isShowName(indexOfelement)">
                        {{ mes.userName }}
                    </h6>
                    <p [id]="getId(mes.id, mes.highlight)" [ngClass]="mes.highlight ? 'highlight' : ''" class="partner__text text" [style.background]="mes.highlight ? 'blue' : ''" *ngIf="!this.isGif(mes.message)">
                        {{ mes.message }}
                        <span class="send-time">{{ this.getDate(mes.createAt) }}</span>
                    </p>
                    <img class="partner_image image" [src]="mes.message" alt="Image" *ngIf="this.isGif(mes.message)" />
                </div>
            </div>
        </div>

        <h6 class="nofitication" *ngIf="this.isNofication(mes)">
            {{ mes.message }}
        </h6>

        <!-- End parter chat -->
        <!-- My chat -->
        <div [ngClass]="this.typeOfMes(indexOfelement)" class="my-chat container-fluid row" *ngIf="mes.mine && this.isMes(mes)">
            <div @messagesAnimation class="wrapper text--wrapper col-12">
                <p [id]="getId(mes.id, mes.highlight)" [ngClass]="mes.highlight ? 'highlight' : ''" class="my__text text" [style.background]="mes.highlight ? 'blue' : ''" *ngIf="!this.isGif(mes.message)">
                    <span class="send-time">{{ this.getDate(mes.createAt) }}</span
          >{{ mes.message }}
        </p>
        <img
          class="my_image image"
          [src]="mes.message"
          alt="Image"
          *ngIf="this.isGif(mes.message)"
        />
      </div>
    </div>
    <!-- End my chat -->
  </ng-container>
</div>