<div class="header--wrapper">
    <div class="header">
        <img class="header__avatar avatar--circle avatar--medium" src="../../../../assets/image/avatar.jpg" alt="">
        <div class="title--wrapper">
            <h3 class="header__title">{{this.getUserlogin().fullname}} <br> <span class="title__status">{{this.getUserlogin().status}}</span> </h3>
        </div>
        <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class=" header__bell-icon fa fa-plus" aria-hidden="true"></i></button>
    </div>
    <div class="container action row">
        <button class="action__item" (click)="this.showListChatBox()"><i class="action__comments far fa-comments " [ngClass]="{active: this.isShowListChatBox()}"></i></button>
        <button class="action__item" (click)="this.showListFriend()"><i class="action__friends fas fa-user-friends" [ngClass]="{active: this.isShowListFriend()}"></i></button>
        <button class="action__item"><i class="action__list fas fa-list " ></i></button>
        <button class="action__item" (click)="this.showSetting()"><i class="action__setting fas fa-cog " [ngClass]="{active: this.isShowSetting()}"></i></button>
    </div>
    <div class="searching-bar flex container">
        <div class="row">
            <input class="col-9 input--border" type="text" (click)="showSearch()" (keyup)="search()" placeholder="Enter name to search" [(ngModel)]="this.name" />
            <button class="col-3 submit--btn" type="submit " (click)="search()">
            <i class="fas fa-search"></i>
          </button>
        </div>
    </div>

</div>
