<app-send-gif *ngIf="checkGifShow" ></app-send-gif>
<div class="typing row" id="typing">
    <!-- <form action="" > -->
    <!-- <input type="text" class="input-text col-10"
      (keydown.enter)="sendToGroup()"
      *ngIf="this.isGroupSelected()"
       [(ngModel)]="this.message"
        aria-describedby="helpId" placeholder="Type a message..." /> -->
    <input [ngClass]="checkShowManager() ? 'col-9':'col-10'" type="text" class="input-text" id="emotions" (keydown.enter)="sendTo()" *ngIf="this.isChatBoxSelected()" [(ngModel)]="this.message" aria-describedby="helpId" placeholder="Type a message..." />
    <div [ngClass]="checkShowManager() ? 'col-3':'col-2'" class="typing__actions col-2 row">
<!--        <button class="button images"><i class="fas fa-image"></i></button>-->
      <input type="file" id="file" (change)="sendImage($event)">
      <label for="file" class="file__label">
        <div class="button images">
          <i class=" fas fa-image"></i>
        </div>
      </label>

      <button class="button gif" (click)="gifClick()"><i class="fa-solid fa-gif"></i>GIF</button>
        <button class="button emotions"  (click)="  this.showEmoji()">
      <i class="fas fa-smile"></i>
    </button>
      <button class="button emotions" (click)="sendTo()" >
        <i class="fas fa-thumbs-up"></i>
      </button>
        <!-- <button class="btn sending-text" (click)="sendTo()" *ngIf="this.isChatBoxSelected()">
      <i class="fa fa-paper-plane"></i>
    </button> -->
    </div>
    <!-- </form> -->
</div>

<div class="emojiArea" *ngIf="checkEmojisShow">
    <p class="emojis">
        <ng-container *ngFor="let emojis of emojisList">
            <span class="showEmojis" (click)="selectEmoji(emojis)">
          {{ this.emojis.emoji }}
      </span>

        </ng-container>
    </p>
</div>
